
#lastKey,#newKey,#newKeyAgain{
    width: 200px;
}
ol{
    font-size: 16px;
}
.keyLabel{
    display: block;
}
#passForm{
    margin-left: 12px;
}
.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
.error {
    color: red;
    font-size: 16px;
}
.keyFooter{
    margin-top: 20px;
}
