#changePhone {
    background-color: #eeeeee;
    color: #000000;
    font-size: 12px;
    width: 100px;
    height: 36px;
    border: none;
}

ol, p {
    font-size: 16px
}

.error {
    color: red;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 10px;

}

#PageBox {
    margin-left: 10px;
}
.phoneBody {
    width: 400px;
    text-align: center;
}

#orderTable {
    width: 960px;
    table-layout: auto;
    border: solid 2px;
    text-align: center;
}

th {
    text-align: center;
    border: solid 2px;
}

tr {
    border: solid 2px;
}

td {
    border-right: solid 2px;
}