img{
    position: absolute;
    left: 0;
    right: 0;
    top: 6rem;
    margin: auto;
    text-align: center;
    width:8rem;
    height:8rem;
}
p{
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 15rem;
    margin: auto;
    text-align: center;
}
#doneBtn{
    position:absolute;
    left:0;
    right:0;
    top: 20rem;
    margin: auto;
    text-align: center;
    width:10rem;

}
