
#NowProductList,#pagesGroup{
    margin-left: 10px;
}
.createLabel,.editLabel{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
ol{
    font-size: 16px;
}
#productTable {
    width: 960px;
    table-layout: auto;
    border: solid 2px;
    text-align:center;
}

th {
    text-align: center;
    border: solid 2px;
}

tr {
    border: solid 2px;
}

td {
    border-right: solid 2px;
}
.actBtn{

    border: none;
    background-color: #eeeeee;
}
#createDiv{
    width: 360px;
    height:450px;

}
.form-control{
    margin-top: 10px;
    margin-left: 0;
    font-size: 16px;
}
.error {
    color: red;
    font-size: 16px;
}
.aPage{
    margin-left: 10px;
}